#    Engine for local db_account_management

In [1]:
import pandas as pd
import sqlalchemy

In [2]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:tnbui115@localhost:3306/db_account_management')

In [3]:
df = pd.read_sql_table("users_actions", engine)
df

,id,name,action_type_id,category_id,appmod_id
0,1,None,1,NaN,NaN
1,2,t,1,NaN,NaN
2,3,Germplasm (folder's level or germplasm set): d...,1,NaN,1.0
3,4,Variables (folder's level) -> display table,1,NaN,1.0
4,5,Folder -> Observations: display table,1,NaN,1.0
...,...,...,...,...,...
611,616,Germplasm -> Get variables for share germplasms,1,116.0,4.0
612,617,Germplasm -> Share germplasms to research group,2,116.0,4.0
613,618,Phenome mobile -> Send field to mobile,7,117.0,1.0
614,619,Phenome mobile -> get URL by user,1,115.0,1.0
615,620,PLC: create report,1,118.0,8.0

In [ ]:
print('hello world')